<header class="header">
    <div class="portfolio-container">
        <p class="portfolio titan-one-primary eyecatch">PORTFOLIO</p>
        <span id="current-page" class="current-page roboto-secondary" data-i18n-page="pageHome"></span>
    </div>
    <div class="language-switcher">
        <button onclick="setLanguage('de')" class="lang-btn">DE</button>
        <button onclick="setLanguage('en')" class="lang-btn">EN</button>
    </div>
    <nav class="navbar roboto-secondary">
        <a href="index.html" data-i18n="pageHome"></a>
        <a href="projects.html" data-i18n="pageProjects"></a>
    </nav>
    <div class="circle-left-bottom"></div>
</header>